/* ---------- Extend styles ---------- */
%sectionPadding {
    padding: 115px 0 63px 14vw;
    @include bp($point: 1680, $type: min) {
        padding: 157px 0 76px 14vw;
    }
    @include bp($point: 1140, $type: min) {
        padding: 100px 0 47px 14vw;
    }
    @include bp($point: 1024, $type: min) {
        padding: 82px 0 47px 10vw;
    }
    @include bp($point: 768, $type: max) {
        padding: 78px 0 32px 12.5vw;
    }
    @include bp($point: 640, $type: max) {
        padding: 70px 0 15px 6vw;
    }
}

%buttonNext {
    width: 48px;
    height: 48px;
    @include bp($point: 1680, $type: min) {
        width: 68px;
        height: 68px;
    }
    @include bp($point: 1140, $type: max) {
        width: 42px;
        height: 42px;
    }
    @include bp($point: 768, $type: max) {
        width: 100px;
        height: 100px;
    }
    @include bp($point: 640, $type: max) {
        width: 50px;
        height: 50px;
    }
}

/* ---------- END Extend styles ---------- */
.burger-popup--open {
    .burger-popup__close-popup {
        &:before, &:after {
            animation-duration: .2s;
            animation-timing-function: ease-in-out;
            animation-fill-mode: forwards;
        }
        &:before {
            animation-name: closeBtnAnimation1;
        }
        &:after {
            animation-name: closeBtnAnimation2;
        }
        
    }
    .burger-popup {
        &__corporate, &__test {
            transform: translateX(0);
        }
        &__corporate{
            transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1) .05s;
        }
        &__test {
            transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1) 1s;
        }
    }
}
@keyframes closeBtnAnimation1 {
    0% {transform: translate3d(-50%, -50%, 0) rotate(0deg);}
    100% {transform: translate3d(-50%, -50%, 0) rotate(45deg);}
}
@keyframes closeBtnAnimation2 {
    0% {transform: translate3d(-50%, -50%, 0) rotate(0deg);}
    100% {transform: translate3d(-50%, -50%, 0) rotate(-45deg);}
}
.burger-popup {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: row nowrap;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    will-change: opacity;
    transition: opacity 0s ease-in-out;
    .contact-page & {
        left: 0;
    }
    .all-tests & {
        left: 0;
    }
    .article-page & {
        left: 0;
    }
    &__close-popup {
        position: absolute;
        top: 40px;
        left: 25px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        z-index: 2;
        &:before, &:after {
            content: '';
            display: inline-block;
            position: absolute;
            width: 30px;
            height: 2px;
            background: #fff;
            top: 50%;
            left: 50%;
            @include anim($param: background, $dur: .15s);
        }
        &:before {
            transform: translate3d(-50%, -50%, 0) rotate(0);
            //transform: translate3d(-50%, -50%, 0) rotate(45deg);
        }
        &:after {
            transform: translate3d(-50%, -50%, 0) rotate(0);
            //transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        }
        &:hover {
            &:before, &:after {
                background: transparentize(#fff, .4);
            }
        }
    }
    &__language-navigation {
        width: 50%;
        background: #0c7aff;
        display: flex;
        flex-flow: column nowrap;
        @extend %sectionPadding;
        z-index: 1;
    }
    .burger-popup--open & {
        opacity: 1;
        pointer-events: auto;
        transition: opacity .2s ease-in-out;
    }
    .contact-page & {
        padding-right: 0;
        height: 100%;
        overflow: hidden;
    }
    .contact-page.burger-popup--open & {
        height: auto;
    }
    .article-page & {
        padding-right: 0;
    }
    .language-navigation {
        &__title {
            margin-bottom: 31px;
            color: #fff;
            text-transform: none;
            font-weight: 500;
            span {
                display: block;
            }
        }
        &__language-list {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            margin-bottom: auto;
            .language-item {
                margin-bottom: 18px;
                @include anim($param: padding, $dur: .2s);
                a {
                    color: #fff;
                    font-size: 1.5rem;
                    font-weight: 500;
                }
                &:hover {
                    padding-left: 10px;
                    @include anim($param: padding, $dur: .2s);
                }
            }
        }
        &__bottom-block {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            .phone {
                margin-right: 25px;
                color: #fff;
                font-size: 1.5rem;
                font-weight: 500;
            }
            .button-next {
                display: inline-block;
                @extend %buttonNext;
            }
        }
    }
    &__right-side {
        width: 50%;
    }
    &__corporate, &__test {
        height: 50vh;
        @extend %sectionPadding;
        .corporate-descr, .test-descr {
            max-width: 240px;
            //margin-bottom: 60px;
            line-height: 1.6;
        }
        .corporate, .test {
            &__content {
                position: relative;
                display: flex;
                flex-flow: column nowrap;
                height: 100%;
            }
        }
        .corporate-title, .test-title {
            text-transform: none;
            font-weight: 500;
            margin-bottom: 15px;
            position: relative;
            z-index: 1;
        }
        .corporate-title {
            span {
                display: block;
            }
        }
        .test-title {
            max-width: 240px;
        }
        .button-next {
            display: block;
            @extend %buttonNext;
            position: absolute;
            bottom: 0;
            @include bp($point: 768, $type: max) {
               position: relative;
            }
        }
    }
    &__corporate {
        //transform: translateX(-50%);
        //transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1) .05s;
        background: linear-gradient(to right,
            #e4e4e4 0%,
            #e4e4e4 19.99%,
            #dadada 20%,
            #dadada 39.75%,
            #cbcbcb 0.5%,
            #d1d1d1 40%,
            #d1d1d1 59.99%,
            #c8c8c8 60%,
            #c8c8c8 79.75%,
            #b8b8b8 0.5%,
            #bfbfbf 80%,
            #bfbfbf 100%);
    }
    &__test {
        position: relative;
        background-color: #fff;
        background-position: 100% 100%;
        background-size: 353px;
        background-repeat: no-repeat;
        //transform: translateX(-50%);
        //transition: transform .4s cubic-bezier(0.23, 1, 0.32, 1) .1s;
        .test-title {
            max-width: 150px;
        }
        .test-img {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 500px;
            z-index: 0;
        }
    }
    @include bp($point: 1680, $type: min) {
        &__close-popup {
            width: 45px;
            height: 45px;
            top: 55px;
            left: 55px;
            &:before, &:after {
                width: 45px;
            }
        }
        .language-navigation {
            &__title {
                font-size: 2.5rem;
                margin-bottom: 41px;
            }
            &__language-list {
                .language-item {
                    margin-bottom: 24px;
                    a {
                        font-size: 2rem;
                    }
                }
            }
            &__bottom-block {
                .phone {
                    margin-right: 25px;
                    font-size: 2rem;
                }
            }
        }
        &__corporate, &__test {
            .corporate-descr, .test-descr {
                max-width: 340px;
                line-height: 1.8;
                font-size: 1.3rem;
            }
            .corporate-title, .test-title {
                margin-bottom: 29px;
                font-size: 2.5rem;
            }
        }
    }
    @include bp($point: 1140, $type: max) {
        &__close-popup {
            width: 25px;
            height: 25px;
            top: 34px;
            left: 34px;
            &:before, &:after {
                width: 25px;
            }
        }
        .language-navigation {
            &__title {
                font-size: 1.5rem;
                margin-bottom: 25px;
            }
            &__language-list {
                .language-item {
                    margin-bottom: 14px;
                    a {
                        font-size: 1.2rem;
                    }
                }
            }
            &__bottom-block {
                .phone {
                    margin-right: 14px;
                    font-size: 1.2rem;
                }
            }
        }
        &__corporate, &__test {
            .corporate-descr, .test-descr {
                max-width: 200px;
                line-height: 1.8;
                font-size: .8rem;
            }
            .corporate-title, .test-title {
                margin-bottom: 15px;
                font-size: 1.5rem;
            }
        }
        &__test {
            background-size: 282px;
        }
    }
    @include bp($point: 1024, $type: max) {
        left: 0;
        .burger-popup--open & {
            padding-right: 0;
        }
        &__language-navigation {
            padding-left: 12vw;
        }
        &__corporate {
            .corporate-title {
                font-size:1.7rem;
                margin-bottom: 24px;
            }
            .corporate-descr {
                font-size: .9rem;
            }
        }
    }
    @include bp($point: 768, $type: max) {
        flex-flow: column nowrap;
        height: auto;
        left: 0;
        .burger-popup--open & {
            padding-right: 0;
        }
        &__close-popup {
            width: 30px;
            height: 30px;
            top: 34px;
            right: 34px;
            left: auto;
            &:before, &:after {
                width: 30px;
            }
            &:hover {
                &:before, &:after {
                    background: #fff;
                }
            }
        }
        &__language-navigation {
            width: 100%;
        }
        .language-navigation {
            &__title {
                font-size: 3.4rem;
                margin-bottom: 51px;
            }
            &__language-list {
                margin-bottom: 115px;
                .language-item {
                    margin-bottom: 16px;
                    a {
                        font-size: 3rem;
                    }
                    &:hover {
                        padding-left: 0;
                    }
                }
            }
            &__bottom-block {
                flex-flow: column nowrap;
                align-items: flex-start;
                .phone {
                    margin-right: 0;
                    margin-bottom: 10px;
                    font-size: 3rem;
                }
            }
        }
        &__right-side {
            width: 100%;
        }
        &__corporate, &__test {
            height: auto;
            padding-bottom: 81px;
            .corporate-descr, .test-descr {
                max-width: 80%;
                margin-bottom: 110px;
                line-height: 1.8;
                font-size: 2rem;
            }
            .corporate-title, .test-title {
                margin-bottom: 35px;
                font-size: 3.4rem;
            }
        }
        &__test {
            background-size: 400px;
        }
    }
    @include bp($point: 640, $type: max) {
        transform: translateX(-100%);
        //height: auto;
        
        .contact-page & {
            height: 100%;
        }
        .burger-popup--open & {
            height: auto;
            transform: translateX(0);
        }
        &__language-navigation {
            padding-top: 40px;
            padding-left: 40px;
        }
        &__close-popup {
            width: 30px;
            height: 30px;
            top: 30px;
            right: 30px;
            &:before, &:after {
                width: 30px;
            }
        }
        .language-navigation {
            &__title {
                font-size: 1.8rem;
                margin-bottom: 25px;
            }
            &__language-list {
                margin-bottom: 60px;
                .language-item {
                    margin-bottom: 8px;
                    a {
                        font-size: 1.5rem;
                    }
                }
            }
            &__bottom-block {
                .phone {
                    margin-bottom: 5px;
                    display: block;
                    font-size: 1.5rem;
                }
            }
        }
        &__corporate, &__test {
            padding-top: 35px;
            padding-bottom: 40px;
            padding-left: 40px;
            .corporate-descr, .test-descr {
                max-width: 80%;
                margin-bottom: 55px;
                line-height: 1.3;
                font-size: 1rem;
            }
            .corporate-title, .test-title {
                margin-bottom: 15px;
                font-size: 1.8rem;
            }
        }
        &__test {
            background-size: 55vw;
            background-position: 120% 100%;
        }
    }
   @include bp($point: 478, $type: max) {
      &__test {
         background-size: 78vw;
         background-position: 160% 100%;
      }
   }
}

.contact-page .burger-popup--open {
    padding-right: 0;
    @include bp($point: 640, $type: max) {
        //height: auto;
    }
}