.header {
   &__left-side, &__right-side {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
   }
   &__right-side {
      transition: opacity .2s ease-in-out;
      .burger-popup--open & {
         opacity: 0;
         pointer-events: none;
      }
   }
   &__left-side {
      //.burger-menu {
      //   position: relative;
      //   display: inline-block;
      //   width: 40px;
      //   height: 2px;
      //   margin-right: 40px;
      //   padding: 0 0 16px;
      //   background: #fff;
      //   background-clip: content-box;
      //   box-sizing: content-box;
      //   &:before, &:after {
      //      content: '';
      //      position: absolute;
      //      left: 0;
      //      width: 40px;
      //      height: 2px;
      //      background: #fff;
      //      display: inline-block;
      //   }
      //   &:before {
      //      transform: translateY(-50%);
      //      top: 50%;
      //   }
      //   &:after {
      //      bottom: 0;
      //      top: auto;
      //   }
      //}
      .logo {
         width: 100px;
         margin-right: 30px;
         transition: opacity .2s ease-in-out;
         .burger-popup--open & {
            opacity: 0;
            pointer-events: none;
         }
      }
     
      @include bp($point: 768, $type: max) {
         .burger-menu {
            margin-right: 20px;
         }
         .logo {
            margin-right: 0;
         }
      }
      @include bp($point: 768, $type: max) {
         .logo, .burger-menu {
            margin: 0;
         }
      }
   }
   .header-nav {
      &__item {
         height: 20px;
         & + div,  & + li {
            margin-left: 40px;
         }
         &:last-child {
            height: 40px;
         }
      }
      &__link {
         height: 20px;
         text-transform: uppercase;
         font-size: .75rem;
         letter-spacing: 1px;
         color: #fff;
         font-weight: 900;
         white-space: nowrap;
         @include anim($param: opacity, $dur: .15s);
         &:hover {
            opacity: .8;
         }
         &--striped {
            position: relative;
            display: flex;
            justify-content: flex-end;
            flex-flow: row nowrap;
            width: 140px;
            background: #e4e4e4;
            .title {
               position: absolute;
               height: 100%;
               line-height: 40px;
               font-size: .75rem;
               text-transform: uppercase;
               color: #000;
               letter-spacing: 1px;
               font-weight: 500;
               opacity: .5;
               z-index: 1;
               @include centerize(true, false);
            }
            .tile {
               width: 28px;
               height: 40px;
               display: inline-block;
               background: #b6b6b6;
               @include anim-param(opacity, background);
               left: 0;
               animation: run .4s ease-in;
               &:first-child {
                  opacity: 0;
               }
               &:nth-child(2) {
                  opacity: .2;
               }
               &:nth-child(3) {
                  opacity: .4;
               }
               &:nth-child(4) {
                  opacity: .6;
               }
               &:nth-child(5) {
               }
            }
            &:hover {
               .tile {
                  &:first-child {
                     opacity: .1;
                  }
               }
            }
         }
         .all-tests & {
            color: #000;
         }
      }
      @include bp($point: 768, $type: max) {
         &__item {
            & + div {
               margin-left: 30px;
            }
         }
         &__link {
            font-size: .7rem;
            letter-spacing: 0;
         }
      }
   }
   @include bp($point: 768, $type: max) {
      &__right-side {
         display: none !important;
      }
      &__left-side {
         width: 100%;
         flex-flow: row-reverse nowrap;
         justify-content: space-between;
      }
   }
}


.burger-menu {
   width: 40px;
   height: 21px;
   position: relative;
   margin-right: 40px;
   transform: rotate(0deg);
   transition: transform .5s ease-in-out;
   cursor: pointer;
   span {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #fff;
      border-radius: 9px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      &:nth-child(1) {
         top: 0;
      }
      &:nth-child(2), &:nth-child(3) {
         top: 9px;
      }
      &:nth-child(4) {
         top: 18px;
      }
      .all-tests & {
         background-color: #000;
      }
   }
   @include bp($point: 768, $type: max) {
      width: 46px;
   }
   @include bp($point: 639, $type: max) {
      width: 40px;
   }
   .burger-popup--open & {
      span {
         &:nth-child(1) {
            top: 9px;
            width: 0;
            left: 50%;
         }

         &:nth-child(2) {
            transform: rotate(45deg);
         }

         &:nth-child(3) {
            transform: rotate(-45deg);
         }

         &:nth-child(4) {
            top: 9px;
            width: 0;
            left: 50%;
         }
      }
   }
}

//.burger-menu {
//   position: absolute;
//   top: 40px;
//   left: 25px;
//   width: 40px;
//   height: 40px;
//   cursor: pointer;
//   z-index: 2;
//   &:before, &:after {
//      content: '';
//      display: inline-block;
//      position: absolute;
//      width: 30px;
//      height: 2px;
//      background: #fff;
//      top: 50%;
//      left: 50%;
//      @include anim($param: background, $dur: .15s);
//   }
//   &:before {
//      transform: translate3d(-50%, -50%, 0) rotate(0);
//      //transform: translate3d(-50%, -50%, 0) rotate(45deg);
//   }
//   &:after {
//      transform: translate3d(-50%, -50%, 0) rotate(0);
//      //transform: translate3d(-50%, -50%, 0) rotate(-45deg);
//   }
//   &:hover {
//      &:before, &:after {
//         background: transparentize(#fff, .4);
//      }
//   }
//}
