.result-content {
   margin: 0 auto;
   padding-left: 100px;
   padding-right: 100px;
   background-color: #fff;
   @include bp($point: 981, $type: min) {
      max-width: 85vw;
      padding-bottom: 100px;
   }
   @include bp(980) {
      max-width: 84vw;
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 100px;
   }
   @include bp(1240) {
      padding-left: 50px;
      padding-right: 50px;
   }
   
   .overall-result {
      height: 168px;
      padding-top: 78px;
      border-bottom: 1px solid #e8e8e8;
      text-transform: none;
      span {
         margin-left: 20px;
         color: #ea4242;
      }
   }
   
   .result-list {
      @include bp($point: 981, $type: min) {
         padding-top: 78px;
      }
      h4 {
         font-weight: 500;
         span {
            margin-left: 16px;
            color: #d4d4d4;
         }
         @include bp($point: 981, $type: min) {
            margin-bottom: 50px;
            font-size: 2rem;
         }
      }
   }
   
   .answer-holder {
      @include bp($point: 981, $type: min) {
         margin-bottom: 20px;
      }
      .question {
         font-weight: 500;
         @include bp($point: 981, $type: min) {
            margin-bottom: 7px;
            font-size: 1.5rem;
         }
      }
      
      .right-answer {
         color: #38ba63;
         font-size: 1rem;
      }
      .wrong-answer {
         color: #ea4242;
         font-size: 1rem;
      }
   }
}