#wrapper {
   height: 100%;
   //overflow: hidden;
}

#main {
   height: 100%;
   .burger-popup--open & {
      overflow: hidden;
      height: 100vh;
   }
}

#header {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   position: absolute;
   top: 0;
   width: 100%;
   height: 120px;
   padding: 0 40px;
   background-color: transparent;
   z-index: 15;
   will-change: height, padding;
   @include anim-param(height, padding);
   @include anim($dur: .25s);
   .english & {
      //background: $colorBgEn;
   }
   @include bp($point: 1680, $type: min) {
      height: 140px;
      padding: 0 50px;
   }
   @include bp($point: 1039, $type: max) {
      height: 80px;
      padding: 0 20px;
   }
   @include bp($point: 640, $type: max) {
      padding: 0 40px;
   }
}