#header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	height: 120px;
	padding: 0 40px;
	background-color: $colorBgEn;
}
//#wrapper {
//	background: $colorBgEn;
//}