<div class="choose-test">
    {%  if page is not empty %}
        <h1 class="choose-test__title">
            {{ page.post_title }}
        </h1>
    {% endif %}
    <div class="choose-test__language">
        {%  if test_posts is not empty %}
            <ul class="language-list">
                {% for test in test_posts %}
                    <li>
                        <a href="{{ test.post_url }}">{{ test.post_title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>Извините, сейчас нет доступных постов.</h1>
        {% endif %}
    </div>
</div>
