{% extends '_layout-test.twig' %}

{% block title %}
    Tests
{% endblock %}

{% block jsEntryPoint %}
{% endblock %}

{% block scripts %}
    <script src="/wp-content/plugins/IlinquaTest/views/public/js/index.js" type="text/javascript"></script>
{% endblock %}

{% block body_attributes %}
    class="all-tests"
{% endblock %}

{% block content %}
    <div class="choose-test">
        {% if page is not empty %}
            <h1 class="choose-test__title">
                {% if alternative_title !='' %}
                    {{ alternative_title  }}
                {% else %}
                    {{ page.post_title }}
                {% endif %}

            </h1>
        {% endif %}
        <div class="choose-test__language">
            <div class="choose-test__content-holder">
                {% if test_posts is not empty %}
                    <ul class="language-list">
                        {% for test in test_posts %}
                            <li class="language-list__language-item">
                                <a href="{{ test.post_url }}">{{ test.post_title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <h1 class="choose-test__empty-post">Извините, сейчас нет доступных постов.</h1>
                {% endif %}
            </div>
        </div>
        <div class="choose-test__img-holder" style="background-image: url('/wp-content/plugins/IlinquaTest/views/public/images/img_Test.svg')">
            <img src="/wp-content/plugins/IlinquaTest/views/public/images/img_Test.svg" alt=""/>
        </div>
    </div>
{% endblock %}