<h2>{{ labels.title }}</h2>
<div class="form_field">
    <input
            id="test_result_page_id"
            placeholder="{{ labels.test_result_page_id }}"
            name="test-config[test_result_page_id]"
            type="number"
            class="input"
            value="{{ options.test_result_page_id }}"
    />
</div>
<div class="submit">
    <input type="submit" value="{{ labels.save_text }}" />
</div>