<div class="form-group">
    <div id="question_level">
        <label for="counter">Question level</label>
        <input type="number" min="1" max="4" name="question_level"/>
    </div>
    <div id="question-type">
        <label for="question_type">Question type</label>
        <select name="question_type" id="question_type"  onchange="questionSorter(jQuery(this).val())">
            <option value="radio">Radiobuton</option>
            <option value="checkbox">Checkbox</option>
            <option value="text">Text</option>
            <option value="fragment">Fragment</option>
        </select>
    </div>
    <div id="answer_counter" style="display:none;">
        <label for="counter">Answers counter</label>
        <input type="number" min="0" step="1" name="counter" id="counter" onchange="createAnswerFields(this.value, {{ theme_options.post_id }})"/>
    </div>
    <div id="answer_fields">

    </div>
    <div id="fragment" style="display:none;">
        test
    </div>
    <div id="right-answer" style="display:none;">
        <label for="right_answer">Right answer</label>
        <textarea name="right_answer" id="right_answer"></textarea>
    </div>
</div>