<div class="form-group">
    <table width="600" border="0">
        <tr>
            <td>
                <label for="question_type">Question type</label>
                <select name="question_type" id="question_type">
                    <option value="radio">Radiobuton</option>
                    <option value="checkbox">Checkbox</option>
                    <option value="text">Text</option>
                    <option value="audion">Fragment</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="counter">Answers counter</label>
                <input type="number" min="0" step="1" name="counter" id="counter" value =""/>
            </td>
        </tr>
        <tr>
            <td id = "fields">
            </td>
        </tr>
        <tr>
            <td>
                <label for="right_answer">Right answer</label>
                <textarea name="right_answer" id="right_answer"></textarea>
            </td>
        </tr>
    </table>
</div>