<header id="header" class="header">
	<div class="header__left-side">
		<a href="#" class="burger-menu"></a>
		<strong class="logo">
			<a href="#">
				{#<img src="{{ theme.path }}/public/images/logo.png" alt=""/>#}
				Ilingua
			</a>
		</strong>
	</div>
	<ul class="header__right-side header-nav__list">
		{% if primary_header_menu is not empty %}
			{% for menu_item in primary_header_menu  %}
				<li class="header-nav__item">
					<a href="{{ menu_item.url }}" class="header-nav__link">{{ menu_item.title }}</a>
				</li>
			{% endfor %}
			<li class="header-nav__item">
				<a href="#" class="header-nav__link">Пройти тест</a>
			</li>
			<li class="header-nav__item">
				<a href="#" class="header-nav__link--striped">
					<span class="tile"></span>
					<span class="tile"></span>
					<span class="tile"></span>
					<span class="tile"></span>
					<span class="tile"></span>
					<span class="title">Corporate</span>
				</a>
			</li>
		{% endif %}
	</ul>
</header>