<header id="header" class="header">
	<div class="header-left-side">
		<a href="#" class="burger-menu"></a>
		<a href="" class="logo"></a>
		<div class="select-lang"></div>
	</div>
	<ul class="header-right-side">
		<li>Пройти тест</li>
		<li>Контакты</li>
		<li>Corporate</li>
	</ul>
</header>