<header id="header" class="header">
	<div class="header__left-side">
		<a href="#" class="burger-menu"></a>
		<strong class="logo">
			<a href="#">
				{#<img src="{{ theme.path }}/public/images/logo.png" alt=""/>#}
				Ilingua
			</a>
		</strong>
	</div>
	<ul class="header__right-side header-nav__list">
		<li class="header-nav__item">
			<a href="#" class="header-nav__link">Пройти тест</a>
		</li>
		<li class="header-nav__item">
			<a href="#" class="header-nav__link">Контакты</a>
		</li>
		<li class="header-nav__item">
			<a href="#" class="header-nav__link--striped">
				<span class="tile"></span>
				<span class="tile"></span>
				<span class="tile"></span>
				<span class="tile"></span>
				<span class="tile"></span>
				<span class="title">Corporate</span>
			</a>
		</li>
	</ul>
</header>