<header id="header">
	<div class="left-side">
		<div class="burger"></div>
		<a href="" class="logo"></a>
		<div class="select-lang"></div>
	</div>
	<ul class="right-side">
		<li>Пройти тест</li>
		<li>Контакты</li>
		<li>Corporate</li>
	</ul>
</header>