
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamProRegular.eot");
	src: url("../fonts/GothamProRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProRegular.woff") format("woff"),
	url("../fonts/GothamProRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamProBold.eot");
	src: url("../fonts/GothamProBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBold.woff") format("woff"),
	url("../fonts/GothamProBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamProMedium/GothamProMedium.eot");
	src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
	url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: "Gotham";
	src: url("../fonts/GothamProLight/GothamProLight.eot");
	src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
	url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

