//// Custom global colors
//
//// Default global colors

/*layout*/

$colorBgEn: #0c7aff;
$colorLinkEn: #0c7aff;

//$colorText: #000;
//$colorTextQuater: transparentize($colorText, .25);
//$colorTextHalf: transparentize($colorText, .5);
//$colorTextLight: transparentize($colorText, .65);
//$colorLink: #8556de;
//$colorHover: darken($colorLink, 25%);
//$colorDarkBg: #6440a6;;
//$colorButton: #00ff78;
//$colorButtonSecond: #00db67;
//$colorButtonThird: #00c55c;
//$colorFocus: #00326f;
//$colorError: #ff0000;
//$bgBody: #fff;
//$borderColor: #d0d0d0;
//$colorMild: #27c2f2;
//
// //investor risk color
//$colorLowRisk: #007cc6;
//$colorModerateRisk: #27c2f2;
//$colorMiddleRisk: #4bb960;
//$colorAboveMiddleRisk: #ffc208;
//$colorHighRisk: #eb823e;
//
//// breakpoints
//
//$tablet: 1366;
//$tabletMiddle: 1180;
//$Mobile: 640;
//
//// Widths
//$minWidth: 1024px;
//$minWidthMobile: 320px;
////bp margin
$big: 60px;
$middle: 40px;
$small: 30px;
//
//// Fonts
$family: 'Gotham', Arial, Helvetica, sans-serif;
$fw: 300;
$fz: 16px;
$lh: 1.5;

// Other Font-size
$fz-middle: 2rem;      // 32px
$fz-small: 1.125rem;   // 18px;


////Images
$baseFontUrl : '/fonts';
//$imgurl : '/dependencies/images';
