{% extends '_layout.twig' %}

{% block title %}
    Choose test
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}


{% block content %}
    <div class="choose-test">
        <h1 class="choose-test__title">
            Тест
        </h1>
        <div class="choose-test__language">
            <ul class="language-list">
                <li>
                    <a href="#">English</a>
                </li>
                <li>
                    <a href="#">Французский</a>
                </li>
                <li>
                    <a href="#">Русский</a>
                </li>
                <li>
                    <a href="#">Китайский</a>
                </li>
                <li>
                    <a href="#">English</a>
                </li>
                <li>
                    <a href="#">Французский</a>
                </li>
                <li>
                    <a href="#">Русский</a>
                </li>
                <li>
                    <a href="#">Китайский</a>
                </li>
            </ul>
        </div>
        <div class="choose-test__banner">
            <img src="{{ theme.path }}/public/images/moto.jpg" alt="">
        </div>
    </div>
{% endblock %}