{% extends '_layout.twig' %}

{% block title %}
	Choose test
{% endblock %}

{% block scripts %}
	<script src="{{ theme.path }}/public/js/single-test.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
	<div class="single-test-page">
		{#{% include 'utilities/_form.twig' with {#}
		{#"form" : [#}
		{#{#}
		{#'id' : 'userName',#}
		{#'placeholder' : 'Имя',#}
		{#},#}
		{#{#}
		{#'id' : 'telephone',#}
		{#'placeholder' : 'Телефон',#}
		{#},#}
		{#{#}
		{#'id' : 'email',#}
		{#'placeholder' : 'E-mail',#}
		{#},#}
		{#]#}
		{#} %}#}
		<h1>English test</h1>
		<div class="test-holder">
			{#{% include 'modules/form-test.twig' %}#}
			<div class="single-test__step">
				{% include 'utilities/_form.twig' with {
				"form" : [
				{
				'id' : 'user-name',
				'placeholder' : 'Имя',
				},
				{
				'id' : 'telephone',
				'placeholder' : 'Телефон',
				},
				{
				'id' : 'email',
				'placeholder' : 'E-mail',
				},
				]
				} %}
			</div>
			<div class="single-test__step">
				<p>Wonderful transition effects.</p>
			</div>
			<div class="single-test__step">
				<p>The next and previous buttons help you to navigate through your content.</p>
			</div>
			<div class="single-test__step">
				<p>The next and previous buttons help you to navigate through your content.</p>
			</div>
			<div class="single-test__step">
				<p>The next and previous buttons help you to navigate through your content.</p>
			</div>
			<div class="single-test__step">
				<p>The next and previous buttons help you to navigate through your content.</p>
			</div>
			<div class="pagination"></div>
			<div class="pagination"></div>
			<div class="pagination"></div>
			<div class="pagination"></div>
			<div class="pagination"></div>
			<div class="pagination"></div>
		</div>
	</div>
{% endblock %}