{% extends '_layout.twig' %}

{% block title %}
    Contacts
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}

{% block scripts %}
    <script src="{{ theme.path }}/public/js/contact-template.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="contacts">
        <div class="contacts__map" id="map"></div>
        <div class="contacts__place">
            <h1>
                <span class="city">Харьков</span>
                <span class="street">пер. Кравцова, 8</span>
            </h1>
        </div>
        <div class="contacts__work">
            <div class="phones">
                <ul>
                    <li>
                        <a href="#">(057) 756 11 66</a>
                    </li>
                    <li>
                        <a href="#">(099) 235 26 04</a>
                    </li>
                    <li>
                        <a href="#">(063) 978 22 94</a>
                    </li>
                    <li>
                        <a href="#">(063) 978 22 94</a>
                    </li>
                    <li>
                        <a href="#">(063) 978 22 94</a>
                    </li>
                </ul>
            </div>
            <div class="time">
                <ul>
                    <li>
                        <span class="day">пн-пт</span>
                        <span class="value">11:30 - 19:30</span>
                    </li>
                    <li>
                        <span class="day">сб</span>
                        <span class="value">11:30 - 19:30</span>
                    </li>
                    <li>
                        <span class="day">вс</span>
                        <span class="value">выходной</span>
                    </li>
                </ul>
            </div>
            <div class="link">
                <ul class="link__list">
                    <li>
                        <a href="#">info@ilingua.com.ua</a>
                    </li>
                    <li>
                        <a href="#">Telegram, Skype: ilingua</a>
                    </li>
                </ul>
                <div class="soc-net">
                    <ul class="soc-net__list">
                        <li>
                            <a href="#">
                                <img src="{{ theme.path }}/public/images/inst.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ theme.path }}/public/images/vk.svg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="{{ theme.path }}/public/images/fb.svg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}