{% extends '_layout.twig' %}

{% block title %}
	English
{% endblock %}

{% block jsEntryPoint %}
	{#<script src="{{ theme.path }}/public/js/require.js" type="text/javascript"></script>#}
{% endblock %}

{% block content %}
	<section class="language-holder">
		<div class="language-banner">
			<h1 class="language-banner__title">
				English. Learn. Together.
			</h1>
		</div>
	</section>

{% endblock %}