{% extends '_layout.twig' %}

{% block title %}
	English
{% endblock %}

{% block jsEntryPoint %}

{% endblock %}

{% block content %}
	<section class="language-holder">
		{% include 'modules/_lp-banner.twig' %}
		{% include 'modules/_lp-community.twig' %}
	</section>
{% endblock %}