<div class="bottom-link-section">
   <div class="bottom-section__corporate">
      <div class="corporate__content">
         <div class="corporate-title"><span>iLingua</span>Corporate</div>
         {% if theme_options.corporate_text !='' %}
            <div class="corporate-descr">{{ theme_options.corporate_text }}</div>
         {% endif %}
         
         <a href="{% if corporate_page_url %}{{ corporate_page_url }}{% else %}#{% endif %}" class="button-next">
            <img src="/wp-content/plugins/IlinquaTest/views/public/images/img_arrow-grey.svg" alt=""/> </a>
      </div>
   </div>
   <div class="bottom-section__test" style="background-image: url('/wp-content/plugins/IlinquaTest/views/public/images/img_Test.svg')">
      <div class="test__content">
         <div class="test-title">Пройти тест</div>
         {% if theme_options.test_text !='' %}
            <div class="test-descr">{{ theme_options.test_text }}</div>
         {% endif %}
         
         <a href="{% if test_page_url %}{{ test_page_url }}{% else %}#{% endif %}" class="button-next">
            <img src="/wp-content/plugins/IlinquaTest/views/public/images/img_arrow-grey.svg" alt=""/> </a>
      </div>
   </div>
</div>