<section class="lp-community">
	{% include 'modules/_lp-price-block.twig' %}
	{% include 'modules/_test-block.twig' %}
	{#<h2 class="lp-community__title">Community</h2>#}
	{#{% include 'modules/_lp-filters.twig' with {#}
	{#"categories" : [#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'All',#}
			{#"value": 'all',#}
			{#"id": 'all',#}
			{#"checked": 'checked'#}
		{#},#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'school',#}
			{#"value": 'school',#}
			{#"id": 'school'#}
		{#},#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'party',#}
			{#"value": 'party',#}
			{#"id": 'party'#}
		{#},#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'life',#}
			{#"value": 'life',#}
			{#"id": 'life'#}
		{#},#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'gramm',#}
			{#"value": 'gramm',#}
			{#"id": 'gramm'#}
		{#}#}
	{#]#}
	{#} %}#}

	{#{% include 'modules/_lp-article-list.twig' with {#}
	{#"tile":#}
		{#{#}
		{#'tileBig' : false#}
		{#}#}
	{#} %}#}

</section>

