<section class="lp-community">
	{% include 'modules/_lp-price-block.twig' %}
	<h2 class="lp-community__title">Community</h2>
	{#{% include 'modules/_lp-filters.twig' %}#}

<!-- ISOTOPE FILTER TABS--------------->

	{% include 'modules/_lp-filters.twig' with {
	"categories" : [
		{
			"count": 1,
			"dataFilter": '*',
			'filterBtnTxt' : 'All',
		},
		{
			"count": 1,
			"dataFilter": '.school',
			'filterBtnTxt' : 'школа',
		},
		{
			"count": 1,
			"dataFilter": '.party',
			'filterBtnTxt' : 'развлечения',
		},
		{
			"count": 1,
			"dataFilter": '.life',
			'filterBtnTxt' : 'жизнь',
		},
		{
			"count": 1,
			"dataFilter": '.gramm',
			'filterBtnTxt' : 'грамматика',
		},
	]
	} %}

<!-- END ISOTOPE FILTER TABS--------------->
<!-- ARTICLE TILE TEMPLATE--------------->

	{% include 'modules/_test-block.twig' with {
	"tile":
		{
			articleList: [
			{dataFilterClass: 'school', articleTileSize: 'big', tileBig: true},
			{dataFilterClass: 'school', articleTileSize: 'middle'},
			{dataFilterClass: 'party', articleTileSize: 'high'},
			{dataFilterClass: 'school', articleTileSize: 'small'},
			{dataFilterClass: 'party', articleTileSize: 'middle'},
			{dataFilterClass: 'school', articleTileSize: 'middle'},
			{dataFilterClass: 'party', articleTileSize: 'middle'},
			{dataFilterClass: 'life', articleTileSize: 'middle'},
			{dataFilterClass: 'gramm', articleTileSize: 'middle'},
			{dataFilterClass: 'life', articleTileSize: 'middle'},
			{dataFilterClass: 'gramm', articleTileSize: 'middle'},
			{dataFilterClass: 'gramm', articleTileSize: 'middle'},
			{dataFilterClass: 'gramm', articleTileSize: 'middle'},
			{dataFilterClass: 'gramm', articleTileSize: 'middle'},
			]
		}
	} %}
<!-- END ARTICLE TILE TEMPLATE--------------->

<!-- VUE FILTER TABS--------------->

	{#{% include 'modules/_lp-filters.twig' with {#}
	{#"categories" : [#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'All',#}
			{#"value": 'all',#}
			{#"id": 'all',#}
		{#},#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'online',#}
			{#"value": 'online',#}
			{#"id": 'online'#}
		{#},#}
		{#{#}
			{#"count": 1,#}
			{#'name' : 'offline',#}
			{#"value": 'offline',#}
			{#"id": 'offline'#}
		{#},#}
	{#]#}
	{#} %}#}

<!-- END VUE FILTER TABS--------------->

</section>

