<div class="container">
	{% if categories is not empty %}
		{% for category in categories %}
			{% if category.count > 0 %}
				{{ category.name }} {{ category.slug }}
			{% endif %}
		{% endfor %}
	{% endif %}
	<div class="currentClass">
		<div class="switch lp-community__filter-list swiper-wrapper">
			<a href="#all" class="lp-community__filter-item swiper-slide btn grey">
				<input class="all " name="radio" id="all"
								type="radio" value="all" v-model="status" checked>
				<label for="all">All</label>
			</a>
			<a href="#online" class="lp-community__filter-item swiper-slide btn grey">
				<input class="online" name="radio" id="online"
								type="radio" value="online" v-model="status">
				<label for="online">online</label>
			</a>
			<a href="#offline" class="lp-community__filter-item swiper-slide btn grey">
				<input class="offline" name="radio" id="offline"
								type="radio" value="offline" v-model="status">
				<label for="offline">offline</label>
			</a>
		</div>
	</div>
	
	<div class="list-content lp-article__holder" id="article-list" :class="currentStyle">
		<list v-for="list in channelRes | status" :list="list" track-by="$index" transition="expand"></list>
	</div>
	<!-- end of top-content -->
	
	<!-- template -->
	<template id="list-header">
	
	</template>
	
	<template id="list-template">
		<figure class="lp-article__tile--small life list">
			<div class="article-tile__img"
				 style="background-image: url('http://pulson.ru/wp-content/uploads/2013/11/wallpaper-3007964.jpg')">
			</div>
			<figcaption class="article-tile__description item">
				${ list.name }
			</figcaption>
		</figure>
	</template>
	<!-- end of template -->
</div>
