<section class="lp-community">
	{% include 'modules/_lp-price-block.twig' %}
	<h2 class="lp-community__title">Community</h2>
	{% include 'modules/_lp-filters.twig' %}
	
	
	{#<div class="swiper-container">#}
	{#<div class=" lp-community__filter-list swiper-wrapper">#}
	{#<div class="swiper-slide lp-community__filter-item">#}
	{#<a href="#" class="btn grey">ВСЕ</a>#}
	{#</div>#}
	{#<div class="swiper-slide lp-community__filter-item">#}
	{#<a href="#" class="btn grey">О ШКОЛЕ</a>#}
	{#</div>#}
	{#<div class="swiper-slide lp-community__filter-item">#}
	{#<a href="#" class="btn grey">РАЗВЛЕЧЕНИЯ</a>#}
	{#</div>#}
	{#<div class="swiper-slide lp-community__filter-item">#}
	{#<a href="#" class="btn grey">ЖИЗНЬ</a>#}
	{#</div>#}
	{#<div class="swiper-slide lp-community__filter-item">#}
	{#<a href="#" class="btn grey">ГРАММАТИКА</a>#}
	{#</div>#}
	{#</div>#}
	{#</div>#}

</section>


<div class="article-wrapper">
	<div class="container">
		<div class="item">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
				laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation</p>
		</div>
		
		<div class="item">
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
				laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
				in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
				vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis
				</p>
		</div>
		
		<div class="item">
			<strong>Item 1.3</strong>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
				laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
				in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
				</p>
		</div>
		<div class="item">
			<strong>Item 1.3</strong>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
				laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
				in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
			</p>
		</div>
		<div class="item">
			<strong>Item 1.3</strong>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
				laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
				ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor
				in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
			</p>
		</div>
	</div>
	
	<ul id="pagination">
		<li><a href="page1.html">1</a></li>
		<li class="next"><a href="page2.html">2</a></li>
	</ul>
</div>
