<div class="swiper-container lp-community__filter-list">
	<div class="container button-group filters-button-group swiper-wrapper">
		{% if categories is not empty %}
			{% for category in categories %}
				{% if category.count > 0 %}
					<div class="lp-community__filter-item swiper-slide btn button"
							data-filter=".{{ category.slug }}">
						{{ category.name }}
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>
