<section class="lp-community">
   {% include 'modules/_lp-price-block.twig' %}
   
   {% include 'modules/_benefits.twig' with {
   "benefits": [
   {
   benefitTitle: '1',
   benefitSubTitle: 'офис',
   benefitDescr: 'зато в самом центре Харькова',
   buttonTitle: 'Контакты',
   },
   {
   benefitTitle: '7',
   benefitSubTitle: 'аудиторий',
   benefitDescr: 'уютных и хорошо оборудованных',
   buttonTitle: 'О школе',
   },
   {
   benefitTitle: '25',
   benefitSubTitle: 'тичеров',
   benefitDescr: 'готовых полностью отдаться обучению',
   buttonTitle: 'О школе'
   },
   {
   benefitTitle: '4',
   benefitSubTitle: 'конференции',
   benefitDescr: 'готовых полностью отдаться обучениюа',
   buttonTitle: 'О школе'
   },
   {
   benefitTitle: '10',
   benefitSubTitle: 'лет',
   benefitDescr: 'работы со студентами',
   buttonTitle: 'О школе',
   }
   ]
   } %}
   
   {% if posts %}
         <h2 class="lp-community__title">Community</h2>
   {% endif %}
   
   <!-- ISOTOPE FILTER TABS--------------->
   {% include 'modules/_lp-filters.twig' %}
   <!-- END ISOTOPE FILTER TABS--------------->
   
   <!-- ARTICLE TILE TEMPLATE--------------->
   {% include 'modules/_publications.twig' with {
   "tile":
   {
   articleList: [
   {dataFilterClass: 'school', articleTileSize: 'middle', tileBig: true
   },
   {dataFilterClass: 'school', articleTileSize: 'middle'},
   {dataFilterClass: 'party', articleTileSize: 'high'},
   {dataFilterClass: 'school', articleTileSize: 'small'},
   {dataFilterClass: 'party', articleTileSize: 'middle'},
   {dataFilterClass: 'school', articleTileSize: 'middle'},
   {dataFilterClass: 'party', articleTileSize: 'middle'},
   {dataFilterClass: 'life', articleTileSize: 'middle'},
   {dataFilterClass: 'gramm', articleTileSize: 'middle'},
   {dataFilterClass: 'life', articleTileSize: 'middle'},
   {dataFilterClass: 'gramm', articleTileSize: 'middle'},
   {dataFilterClass: 'gramm', articleTileSize: 'middle'},
   {dataFilterClass: 'gramm', articleTileSize: 'middle'},
   {dataFilterClass: 'gramm', articleTileSize: 'middle'},
   ]
   }
   } %}
   <!-- END ARTICLE TILE TEMPLATE--------------->
   
   {% include 'modules/_bottom-link-section.twig' %}

</section>

