<div id="options container" class="swiper-container">
	<div class=" lp-community__filter-list swiper-wrapper">
		<div class="lp-community__filter-item swiper-slide">
			<a href="#btn" data-category="all" class=" all btn grey">ВСЕ</a>
		</div>
		<div class="lp-community__filter-item swiper-slide">
			<a href="#btn" data-category="laptop" class=" school btn grey filter">О ШКОЛЕ</a>
		</div>
		<div class="lp-community__filter-item swiper-slide">
			<a href="#btn" data-category="phone" class="btn grey filter">РАЗВЛЕЧЕНИЯ</a>
		</div>
		<div class="lp-community__filter-item swiper-slide">
			<a href="#btn" data-category="toy" class="btn grey filter">ЖИЗНЬ</a>
		</div>
		<div class="lp-community__filter-item swiper-slide">
			<a href="#btn" data-category="book" class="btn grey filter">ГРАММАТИКА</a>
		</div>
	</div>
</div>

<div id="article-list">
	{% include 'modules/_lp-article-list.twig' %}
</div>
