<div class="container">
	{#{% if categories is not empty %}#}
	{#{% for category in categories %}#}
	{#{% if category.count > 0 %}#}
	{#{{ category.name }} {{ category.slug }}#}
	{#{% endif %}#}
	{#{% endfor %}#}
	{#{% endif %}#}
	<div :class="currentClass">
		<div class="switch lp-community__filter-list swiper-wrapper">
			<div href="#" class="lp-community__filter-item btn grey">
				<input class="all " name="radio" id="all"
					   type="radio" value="all" v-model="status" checked>
				<label for="all">All</label>
			</div>
			<div href="#" class="lp-community__filter-item btn grey">
				<input class="online" name="radio" id="online"
					   type="radio" value="online" v-model="status">
				<label for="online">online</label>
			</div>
			<div href="#" class="lp-community__filter-item btn grey">
				<input class="offline" name="radio" id="offline"
					   type="radio" value="offline" v-model="status">
				<label for="offline">offline</label>
			</div>
		</div>
	</div>
	
	<div class="list-content lp-article__holder" id="article-list" :class="currentStyle">
		<list v-for="list in channelRes | status" :list="list" track-by="$index" transition="expand"></list>
	</div>
	<!-- end of top-content -->
	
	<!-- template -->
	<template id="list-header">
	
	</template>
	
	<template id="list-template">
		<figure class="lp-article__tile--small life list">
			<div class="article-tile__img"
				 style="background-image: url('http://pulson.ru/wp-content/uploads/2013/11/wallpaper-3007964.jpg')">
			</div>
			<figcaption class="article-tile__description item">
				${ list.name }
			</figcaption>
		</figure>
		
		{#<div class="list">#}
		{#<div class="img-con">#}
		{#<img v-if="list.img" v-bind:src="list.img" class="img-responsive thumbnail">#}
		{#<img v-else src="http://dummyimage.com/300x300/ecf0e7/5c5457.jpg&text=0x3F"#}
		{#class="img-responsive thumbnail">#}
		{##}
		{#<div class="text-con">#}
		{#<a v-bind:href="list.url" target="_blank">#}
		{#<h2 v-if="list.name">#}
		{#<span>${ list.name }</span>#}
		{#</h2>#}
		{#</a>#}
		{#<p v-if="list.desc">#}
		{#${ list.desc }#}
		{#</p>#}
		{#<p v-else>#}
		{#Not much info from this Author#}
		{#</p>#}
		{#</div>#}
		{#</div>#}
		{#</div>#}
	</template>
	<!-- end of template -->
</div>
