<div class="price-block-holder">
	<ul class="price-block">
		<li class="price-block__tariff-cell">
			<span class="tariff-cell__title">Норм</span>
			<div class="tariff-cell__value-holder">
				<span class="value">600</span>
				<span class="unit">грн/мес</span>
			</div>
			<span class="tariff-cell__description">2 р/нед по 1.5 часа</span>
			<a href="#" class="tariff-cell__button btn--next"></a>
		</li>
		<li class="price-block__tariff-cell">
			<span class="tariff-cell__title">Быстро</span>
			<div class="tariff-cell__value-holder">
				<span class="value">990</span>
				<span class="unit">грн/мес</span>
			</div>
			<span class="tariff-cell__description">3 р/нед по 1.5 часа</span>
			<a href="#" class="tariff-cell__button btn--next"></a>
		</li>
		<li class="price-block__tariff-cell">
			<span class="tariff-cell__title">Тет-а-тет</span>
			<div class="tariff-cell__value-holder">
				<span class="value">150</span>
				<span class="unit">грн/час</span>
			</div>
			<span class="tariff-cell__description">с рус. преподавателем</span>
			<a href="#" class="tariff-cell__button btn--next"></a>
		</li>
		<li class="price-block__tariff-cell">
			<span class="tariff-cell__title">TOEFL</span>
			<div class="tariff-cell__value-holder">
				<span class="value">660</span>
				<span class="unit">грн/мес</span>
			</div>
			<span class="tariff-cell__description">3 р/нед по 1.5 часа</span>
			<a href="#" class="tariff-cell__button btn--next"></a>
		</li>
	</ul>
</div>