<div class="language-banner" style="background-image: url('{{ theme.path }}/public/images/img_En.svg');">
    <h1 class="language-banner__title">
        {% if page.post_content != "" %}
            {{ page.post_content }}
        {% endif %}
    </h1>
</div>
