<div class="grid" id="grid">
	{% for article in tile.articleList %}
		<div class="lp-article__tile {{ article.articleTileSize }} {{ article.dataFilterClass }}" data-category="{{ article.dataFilterClass }}">
			<a href="#" class="article-tile__link">
				<div class="article-tile__img"
					 style="background-image: url('http://pulson.ru/wp-content/uploads/2013/11/wallpaper-3007964.jpg')">
				</div>
				<div class="article-tile__description item">
					{% if article.tileBig is defined and article.tileBig == true %}
						<span class="tile-description__btn btn grey">18 ОКТЯБРЯ</span>
					{% endif %}
					<span class="tile-description__subtitle">10 заповедей школы iLingua</span>
				</div>
			</a>
		</div>
	{% endfor %}
</div>
