.choose-test {
    height: 100%;
    width: 100%;
    padding: 200px 0 0 240px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    position: relative;
    &__title {
        z-index: 5;
        font-size: 4rem;
        font-weight: 500;
        line-height: 1.13;
        margin: 0 105px 0 0;
        text-transform: none;
    }
    &__language {
        z-index: 5;
        .language-list {
            padding: 32px 0 0 0;
            li {
                display: block;
                margin: 0 0 30px;
                a {
                    font-size: 2rem;
                    font-weight: 500;
                    line-height: 1;
                    @include anim($dur: .1s);
                    position: relative;
                    padding: 0 0 0 30px;
                    &:before {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                        background: #ccc;
                    }
                    &:hover {
                        color: #fe3131;
                    }
                }
            }
        }
    }
    &__banner {
        position: absolute;
        right: 0;
        bottom: 0;
    }
    @include bp($point: 1919, $type: max) {
        padding: 200px 0 0 200px;
    }
    @include bp($point: 1439, $type: max) {
        padding: 140px 0 0 120px;
        &__title {
            font-size: 3.5rem;
            line-height: 1.14;
            margin: 0 92px 0 0;
        }
        &__language {
            .language-list {
                li {
                    a {
                        font-size: 1.75rem;
                        padding: 0;
                        &:before {
                            display: none;
                        }
                        &:hover {
                            color: #000;
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
    @include bp($point: 1023, $type: max) {
        flex-flow: column nowrap;
    }
    @include bp($point: 767, $type: max) {
        padding: 120px 0 0 40px;
        min-height: 100vh;
        &__title {
            font-size: 2.625rem;
            margin: 0 0 40px;
        }
        &__language {
            .language-list {
                padding: 0;
                li {
                    margin: 0 0 15px;
                    a {
                        font-size: 1.75rem;
                    }
                }
            }
        }
    }
}