.lp-community {
	position: relative;
	background: #fff;
	max-width: 1200px;
	margin: 0 auto;
	padding: 80px 0 300px;
	padding-top: 0;
	&__title {
		margin: 0 0 30px $normal;
	}
	@include bp($point: $bpLarge, $type: min) {
		max-width: 85vw;
		&__title {
			margin: 0 0 30px $big;
		}
	}
	@include bp($point: $bpMiddle, $type: max) {
		max-width: 980px;
		&__title {
			margin: 0 0 30px $middle;
		}
	}
	@include bp($point: $bpTablet, $type: max) {
		max-width: 860px;
		&__title {
			margin: 0 0 21px $small;
			font-size: 3.5rem;
		}
	}
	@include bp($point: 890, $type: max) {
		max-width: 680px;
	}
	@include bp($point: $bpPortrait, $type: max) {
		max-width: 608px;
		&__title {
			margin: 0 0 21px $small;
		}
	}
	@include bp($point: 640, $type: max) {
		max-width: 100%;
		&__title {
			font-size: 2.625rem;
		}
	}
}
