.english {
	.language-banner {
		background-color: $colorBgEn;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: calc(100% - ((100vw - 1200px) / 2)) bottom;
		@include bp($point: $bpLarge, $type: min) {
			background-position: calc(100% - 8.5vw) bottom; // 100% - (100vw - max-w)/2
		}
		@include bp($point: $bpMiddle, $type: max) {
			background-position: calc(100% - ((100vw - 980px) / 2)) bottom;
		}
		@include bp($point: $bpTablet, $type: max) {
			background-position: calc(100% - ((100vw - 764px) / 2)) bottom;
		}
	}
}

.language-banner {
	position: relative;
	width: 100%;
	height: calc(100vh - 260px);
	&__title {
		width: 100%;
		max-width: calc(1200px - 164px); // max-w - $normal*2
		margin: 0 auto;
		padding-top: calc(102px + 120px);
		color: #fff;
		text-transform: none;
		@include anim($param: max-width, $dur: .25s);
	}
	@include bp($point: $bpLarge, $type: min) {
		&__title {
			//max-width: 85vw;
			max-width: calc(85vw - 202px); // max-w - $big*2
			padding-top: calc(128px + 140px);
			@include anim($param: max-width, $dur: .25s);
		}
	}
	@include bp($point: $bpMiddle, $type: max) {
		&__title {
			max-width: calc(980px - 120px); // max-w - $middle*2
		}
	}
	@include bp($point: $bpTablet, $type: max) {
		height: calc(100vh - 200px);
		&__title {
			max-width: calc(860px - 82px); // max-w - $small*2
			padding-top: calc(83px + 80px);
			font-size: 3.5rem;
		}
	}
	@include bp($point: 890, $type: max) {
		&__title {
			max-width: calc(680px - 82px); // max-w - $small*2
		}
	}
	@include bp($point: $bpPortrait, $type: max) {
		&__title {
			//margin-left: 15.5%;
			max-width: calc(608px - 82px); // max-w - $small*2
		}
	}
	@include bp($point: 640, $type: max) {
		height: 460px;
		&__title {
			max-width: 100%;
			margin-left: 40px;
			padding-top: calc(40px + 80px);
			font-size: 2.625rem;
		}
	}
	@include bp($point: 640, $type: max) {
		&__title {
			max-width: 200px;
		}
	}
}
