.lp-community {
	&__filter-list {
		display: flex;
		flex-flow: row nowrap;
		margin: 0 0 80px $normal;
	}
	&__filter-item {
		width:initial !important;
		//width: auto !important;
		display: inline-block;
		margin-right: 10px;
		background: #e5e5e5;
		font-size: .75rem;
		line-height: 1;
		letter-spacing: 1px;
		font-weight: 500;
		white-space: nowrap;
		cursor: pointer;
		@include anim($param: background, $dur: .2s);
		
		/* ---------- Vue filter button srtyles ---------- */
		input {
			position: absolute;
			left: -99999px;
		}
		label  {
			display: block;
			padding: 14px 19px;
			cursor: pointer;
		}
		/* ---------- END Vue filter button srtyles ---------- */
		
		&:hover {
			background: darken(#e5e5e5, 10%);
		}
		&:active {
			background: darken(#e5e5e5, 20%);
		}
	}
	@include bp($point: $bpLarge, $type: min) {
		&__filter-list {
			display: flex;
			flex-flow: row nowrap;
			margin: 0 0 80px $big;
		}
	}
	@include bp($point: $bpMiddle, $type: max) {
		&__filter-list {
			display: flex;
			flex-flow: row nowrap;
			margin: 0 0 80px $middle;
		}
	}
	@include bp($point: $bpTablet, $type: max) {
		&__filter-list {
			flex-wrap: wrap;
			margin: 0 0 40px $small;
		}
	}
	@include bp($point: $bpPortrait, $type: max) {
		.swiper-container {
			padding: 0 0 40px $small;
		}
		&__filter-list {
			margin: 0;
			//padding: 0 0 40px $small;
		}
		&__filter-item {
			margin-bottom: 10px;
		}
	}
	@include bp($point: 640, $type: max) {
		&__filter-list {
			flex-wrap: nowrap;
		}
	}
}