// Custom global colors

// Default global colors
// $colorText: #000;
// $colorLink: #00f;
// $colorPlaceholder: #fff;
// $colorFocus: #00326f;
// $bgBody: #fff;

// Widths
$minWidth: 320px;

// Fonts
$family: 'Gotham', Arial, Helvetica, sans-serif;
$fz: 16px;
$lh: 1.125;

//Images
$fonturl : '/dependencies/fonts';
$imgurl : '/dependencies/images';
